{{# if display}}
  <div class="{{gender}}">
    <div class="summary">
      <span class="availability {{if isFull 'highlight' ''}}">{{formattedAvailability}}</span>
      <span class="status">{{#if isFull}}No {{/if}}Available {{gender}} Beds</span>
      <a class="detail-toggle" {{action "toggleDetails" on="click"}}>
        {{# if showDetails}}Hide{{else}}Show{{/if}} numbers
      </a>

    </div>
    {{# if showDetails}}
      <div class="details">
        <table>
          <thead>
          <tr>
            <th>Category</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr class="capacity">
            <th>Contractual Capacity</th>
            <td>{{capacity}}</td>
          </tr>
          <tr class="occupied">
            <th class="left-indent">Occupied</th>
            <td>{{inUse}}</td>
          </tr>
          <tr class="outofcommission">
            <th class="left-indent">Beds out of commission</th>
            <td>{{outOfCommission}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="availability">
            <th>Availability</th>
            <td>{{availability}}</td>
          </tr>
          </tfoot>
        </table>
      </div>
    {{/if}}
  </div>
{{/if}}