<ul id="centre">
    <li>Name:{{model.name}}</li>
    <li>Male Capacity:{{model.maleCapacity}}</li>
    <li>Female Capacity:{{model.femaleCapacity}}</li>
    <li>Male in use:{{model.maleInUse}}</li>
    <li>Female in use:{{model.femaleInUse}}</li>
    <li>Male out of commission:{{model.maleOutOfCommission}}</li>
    <li>Female out of commission:{{model.maleOutOfCommission}}</li>
</ul>