<div class="rescource-collection" xmlns="http://www.w3.org/1999/html">
  {{#each model as |centre|}}

      <div class="rescource-instance">
          <h4>{{centre.name}}<span class="time_stamp">{{centre.updated}}</span></h4>


          <div class="male-availability">
              <div class="title">
                  <h1>{{centre.maleAvailability}}<span class="text">Available Make Beds</span></h1>
              </div>
              <div class="details">
                  <p>
                      Capacity <span class="value">{{centre.maleCapacity}}</span>
                  </p>

                  <p>
                      - Occupied<span>{{centre.maleOccupied}}</span></p>

                  <p>
                      - Beds out of commission<span>{{centre.maleOutOfCommission}}</span>
                  </p>

                  <img src="assets/images/line.png">

                  <p>Availability<span>{{centre.maleAvailability}}</span></p>
                  <img src="assets/images/line.png">
              </div>
          </div>
        
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          <div class="female-availability">
              <div class="title">
                  <h1>{{centre.femaleAvailability}}<span class="text">Available Female Beds</span></h1>
              </div>

              <div class="details">
                  <p>
                      Capacity<span>{{centre.femaleCapacity}}</span>
                  </p>


                  <p>
                      - Occupied<span>{{centre.femaleOccupied}}</span>
                  </p>

                  <p>
                      - Beds out of commission<span>{{centre.femaleOutOfCommission}}</span>
                  </p>


                  <img src="assets/images/line.png">

                  <p>
                      Availability<span>{{centre.femaleAvailability}}</span>
                  </p>
                  <img src="assets/images/line.png">
              </div>
          </div>
      </div>
  {{/each}}
</div>
{{outlet}}