{{foo}}
{{foop}}

{{#each arrangedContent as |centre|}}
    <h3>{{centre.name}}</h3>
{{/each}}


{{#each model as |centre|}}
    <div class="centre" id="centre-{{centre.id}}">
        <h3>{{centre.name}}</h3>
        <span class="time">Last updated: {{moment-format centre.heartbeatRecieved "HH:mm:ss" allow-empty = true}}</span>

      {{centre-detail
      gender = "Male"
      capacity = centre.maleCapacity
      inUse = centre.maleInUse
      availability = centre.maleAvailability
      outOfCommission = centre.maleOutOfCommission
      }}


      {{centre-detail
      gender = "Female"
      capacity = centre.femaleCapacity
      inUse = centre.femaleInUse
      availability = centre.femaleAvailability
      outOfCommission = centre.femaleOutOfCommission
      }}
    </div>
{{/each}}
{{outlet}}